* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --container-lg: 1400px;
    --container-nm: 1100px;
    --container-sm: 900px;
    --primary-color: #fb5ba0;
}

html, body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container-nm {
    max-width: var(--container-nm);
    margin: 0 auto;
}

.container-lg {
    max-width: var(--container-lg);
    margin: 0 auto;
}

.container-sm {
    max-width: var(--container-sm);
    margin: 0 auto;
}

/* Navbar */

.navbar {
    padding: 0 1rem;
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar .navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 300px;
}

.navbar .main-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar .main-menu-list a {
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.navbar .main-menu-list a:hover {
    color: var(--primary-color);
}

.navbar i {
    font-size: 2rem;
}

.navbar.navbar-scroll {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}

/* Mobile Menu */

.navbar .mobile-menu-items {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    padding: 3rem 2rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.6);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar .mobile-menu-toggle {
    display: none;
    cursor: pointer;
}

.navbar .mobile-menu {
    display: none;
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}

.navbar .mobile-menu-list a {
    color: #fb5ba0;
    font-weight: bold;
}

/* Hero */

.hero {
    position: relative;
    padding: 12rem 2rem 4rem;
    background: url('../images/hero.png') center center/cover no-repeat;
    height: 100vh;
    overflow-y: hidden;
    animation: breathe 30s ease-in-out infinite;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 8rem auto;
}

.hero-content h1 {
    max-width: 450px;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    z-index: 3;
}

.hero-content .btn {
    background: rgba(195,121,96, 1);
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 1000px;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.hero-content .btn::after {
    content: '';
    position: absolute;
    width: 102%;
    height: 107%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #6fa8dc, #b6d78a, #ead1dc);
    z-index: -1;
}

.hero-content .btn:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #6fa8dc, -40px 0 100px #b6d78a;
    color: var(--primary-color);
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* Inner Header */
.inner-header {
    padding: 11rem 2rem 3rem;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),linear-gradient(0deg, #DD5E5EFF 100%, #073AFF00 100%),radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
}

.inner-header-content {
    margin-top: 2rem;
}

.inner-header-content h1 {
    text-align: center;
    color: #fff;
}

.inner-border {
    width: 5rem;
    height: 5px;
    background: var(--primary-color);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0.5rem auto 1.5rem;
}

.inner-header-content p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.inner-header-content .icons  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.inner-header-content i {
    font-size: 2rem;
    color: #fff;
}

/* Services */

.services {
    padding: 3rem 2rem 4rem;
    border-bottom: 2px solid #f39c12;
}

.services-heading h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #1abc9c;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5rem;
}

.services-grid-item {
    box-shadow: 2px 4px 4px rgba(251, 91, 60, 0.3);
    border-radius: 10px;
    padding: 20px 50px;
}

.services-grid-item h3 {
    margin-bottom: 1.3rem;
    text-align: center;
    color: #f39c12;
}

/* Products */

#products {
    scroll-margin-top: 7rem;
}

.products {
    padding: 4rem 2rem 3rem;
}

.products-heading h2 {
    margin-bottom: 4rem;
    text-align: center;
    color: #f39c12;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1.5rem;
}

.products-grid img {
    height: 100%;
    border-radius: 10px;
}

/* Footer */

.footer {
    padding: 3rem 2rem 4rem;
    border-top: 2px solid var(--primary-color);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer img {
    width: 250px;
}

.footer-item {
    text-align: center;
}

.footer-item h4 {
    margin-bottom: 1.2rem;
}

.footer i {
    font-size: 1.5rem;
}

.footer a {
    color: var(--primary-color);
}

/* form */
.form {
    padding: 4rem 2rem 3rem;
}

.form-heading h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 3rem;
}

.form-group {
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--primary-color);
    font-family: inherit;
    font-size: inherit;
    padding: 10px 15px;
}

.form-group textarea {
    height: 150px;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: 0;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #111;
    font-weight: 400;
}

.form-group .btn {
    display: block;
    padding: 12px 15px;
    background: var(--primary-color);
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-group .btn:hover {
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* KeyFrames */

@keyframes breathe {
    0% {
        background-size: 100% auto;
    }
    50% {
        background-size: 120% auto;
    }
    100% {
        background-size: 100% auto;
    }
}

@media(max-height: 500px) {

    .navbar img {
        width: 200px;
    }

    .hero {
        overflow-y: visible;
    }

    .hero-content h1 {
        font-size: 1rem;
        display: none;
    }


    .hero-content .btn {
        margin-top: -13rem;
        padding: 10px 15px;
    }
}

@media(max-width:1100px) {
    .hero {
        animation: none;
        padding-top: 20rem;
    }

    .hero-content h1 {
        font-size: 2.6rem;
        line-height: 1.4;
    }

    .hero-content .btn {
        font-size: 1.5rem;
        padding: 15px 20px;
    }
}

@media(max-width: 820px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .mobile-menu {
        display: block;
    }

    .navbar .mobile-menu-toggle {
        display: block;
    }

    .navbar img {
        width: 200px;
    }

    .hero {
        animation: none;
        padding-top: 14rem;
    }

    .hero-content h1  {
        font-size: 2rem;
    }

    .hero-content .btn {
        font-size: 1.3rem;
    }

    .inner-header-content p {
        text-align: left;
        margin-bottom: 2.4rem;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .services-grid-item {
        padding: 10px 30px;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .products-grid-item img {
        height: auto;
        width: auto;
    }

    .footer-flex {
        flex-direction: column;
    }

}

@media (max-width: 380px) {
    .hero {
        padding: 8rem 2rem 5rem;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content .btn {
        font-size: 1rem;
    }
}